body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
nav {
    padding: 10px;
    background-color: black;
    padding-left: 985px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
}

nav ul li a:hover {
    background-color: #575757;
}


.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.content {
    background: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
    text-align: center;
}

.logo-image {
    
    width: 80px;
    border-radius: 50%;
    padding-left: 1000;
}

h1, h2 {
    text-align: center;
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
    text-align: center;
}

a {
    text-decoration: none;
    color: #007BFF;
}

.social-media {
    display: flex;
    justify-content: center;
    padding: 0;
}

.social-media li {
    margin: 0 10px;
}

.social-logo {
    width: 50px;
}

.form {
    margin-top: 20px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 70%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 70%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}